/*Dark Mode*/
@import url('https://raw.githubusercontent.com/VertigoCool99/disc-theme/main/dark.css');
/*Light Mode*/
@import url('https://raw.githubusercontent.com/VertigoCool99/disc-theme/main/light.css');
